<!DOCTYPE html>
<html lang="en">

<head>
    <title>Please verify your email address.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <style>
        body {
            margin: 0;
            line-height: inherit;
        }
    </style>
    <div
        style="background: #F9F9FC; position: relative; width: 100%; box-sizing: border-box; margin: 0; padding: 24px 8px 48px 8px; font-size: 16px; line-height: 1.35; font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">

        <div
            style="margin: 0 auto; display: block; max-width: 576px; border-radius: 12px; background: #FFFFFF; padding: 32px; border: solid 1px #F3F3F8; text-align: left;">
            <img style="position: relative; height: 24px; width: 130px; display: inline-block;"
                src="https://internxt.com/img/mail/logo-badge.png" alt="Internxt" />
            <div style="padding: 32px 0px 24px 0px; display: block;">
                <p style="padding-bottom: 16px; margin: 0;">Hi {{firstName}},</p>
                <p style="padding-bottom: 32px; margin: 0;">Thank you for creating an Internxt account. Before you
                    get
                    started, please verify your email.</p>
                <a style="background: #0066FF; padding: 10px 32px; border-radius: 100px; color: #ffffff;  text-decoration: none;"
                    href="{{url}}">Verify account</a>
                <p style="padding-top: 32px; margin: 0;">Best regards,</p>
                <p style="margin: 0;">Internxt Team</p>
            </div>

            <hr style="border: solid 0.5px #f3f3f8;" />

            <div style="font-size: 14px; padding-top: 24px;">
                <div>
                    <p style="margin: 0; padding-right: 2px; padding-bottom: 2px; display: inline-block;">Have any
                        question or need help?</p>
                    <a style="display: inline-block; color: #0066ff; text-decoration: none;"
                        href="mailto:hello@internxt.com">Contact support &rarr;</a></p>
                </div>
                <p style="padding-top: 12px; color: #aeaeb3; margin: 0;">This email has been sent on behalf of
                    Internxt
                    because you have an account and/or subscription with us, and the email contains important
                    relevant
                    information.</p>
            </div>
        </div>

        <div
            style="display: block; margin: 0 auto; padding-top: 32px; color: #aeaeb3; text-align: center; font-size: 14px;">
            <p style="margin: 0;">Copyright &copy; 2022 Internxt</p>
            <p style="margin: 0;">Visit us at <a href="https://internxt.com/"
                    style=" text-decoration: none; color: #aeaeb3;">internxt.com</a></p>
        </div>

    </div>
</body>

</html>